@import 'tailwindcss';

*{
    font-family: monospace;
    /* border: 1px solid gray; */
    /* border-radius: 4px; */
    /* text-align: center; */
    /* margin: 0; */
    /* padding: 0; */
}   

@theme {

  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

@layer base{

    body{

        @apply bg-black text-white 
        relative h-full w-full overflow-x-hidden
    }

    html {

      /* @apply overflow-y-hidden */

      
    }
    
}

@layer components{
    
    .header-text {

        @apply text-3xl md:text-4xl lg:text-5xl font-light m-0
    }

    .nav-bar-item {

      @apply cursor-pointer md:text-2xl font-medium tracking-wider transition-colors
       hover:text-cyan-400 z-50 md:p-3 lg:p-5 rounded-md md:font-bold
    }

    .main-section {

      @apply h-[100vh] scroll-mt-24 lg:scroll-mt-28 flex flex-col items-center justify-evenly px-8
    }

    .main-content {

      @apply w-full h-[100vh] scroll-mt-26 flex flex-col justify-center items-center px-16
    }
}

@layer base {

  * {
    
    @apply text-white/95
  }
}

*{

  min-width: fit-content;
  min-height: fit-content;
}

html {

  scrollbar-gutter: stable;
}